.poster-detalle-sobre{
  position: relative;
  top: -75px;
  left: -10px;
  margin-bottom: -75px;


}


.titulo{
  width: 100%;
  position: absolute;
  color: white;
  background-color: color;
  padding: 5px 5px 40 px 5px;
}

.titulo h1{
  position: absolute;
  top: 28px;
  left: 5px;
}

.card-actor{
  height: 210px;
}

.actor-name{
  position: relative;
  top: 15px;
}
